@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
  --background-color: #041C32;
  --background-color-second: #04293A;
  --background-color-third: #064663;
  --main-color: #ECB365;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right bottom, var(--background-color), var(--background-color-second));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.landing__page{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: 100vh;
}

.nav__anim{
  animation: show__nav 2s;
}

@keyframes show__nav{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
